<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card p-5">
    <h1 class="text-center mb-4">Result</h1>
    <p class="text-center display-4 mb-4"><%= @score %></p>
    <div class="d-flex justify-content-center">
      <%= link_to "Play again", new_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>